.mg-l {
    margin-left: 10px;
}

.mg-r {
    margin-right: 10px;
}

.pd-t {
    padding-top: 10px;
}

.pd-b {
    padding-bottom: 10px;
}

.pd-l {
    padding-left: 10px;
}

.pd-r {
    padding-right: 10px;
}